@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 > small {
  color: #666666;
}
a {
  color: #246a93;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
canvas,
img {
  image-rendering: optimizeSpeed;
  image-rendering: -o-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  /* CSS4, Where Available */
  -ms-interpolation-mode: nearest-neighbor;
  border: 0;
  vertical-align: middle;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #ca3230;
  background: #bdc3c7;
  border-radius: 4px;
}
pre {
  display: block;
  padding: 10px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  overflow: auto;
  -moz-tab-size: 0;
  tab-size: 0;
  white-space: pre-wrap;
}
pre > code {
  padding: 0 !important;
  color: #333;
  background: transparent !important;
  border-radius: 0;
}
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background: #333;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
var {
  font-style: italic;
}
form {
  display: block;
  margin-top: 0em;
}
form .group {
  margin-bottom: 15px;
}
form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 400;
}
form .form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
form .info-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
form .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
form option {
  font-weight: 200;
  display: block;
  padding: 0px 2px 1px;
  white-space: pre;
  min-height: 1.2em;
}
p {
  margin: .5em 0;
}
footer {
  padding: 25px 0;
  border-top: 1px solid #666;
}
footer p {
  margin: 0 0 10px;
}
.nav {
  display: block;
  height: 50px;
  background: #3786e1;
}
.nav .branding {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  padding: 0 15px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.nav .branding:hover {
  text-decoration: none;
  color: #fff;
  background: transparent;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav li {
  display: inline;
  height: 50px;
}
.nav .nav-item {
  display: inline-block;
}
.nav li + li {
  margin-left: -5px;
}
.nav a {
  display: inline-block;
  line-height: 49px;
  color: #fff;
  padding: 0 10px;
}
.nav a:hover {
  color: #f2f2f2;
  text-decoration: none;
  background: #2e81e0;
}
.nav .pull-right {
  float: right;
}
.nav .pull-left {
  float: left;
}
.nav .nav-static {
  position: fixed;
}
.masthead {
  display: block;
  background: #f2f2f2;
  padding: 50px 30px;
  margin: 15px;
  border-radius: 5px;
}
.masthead h1 {
  margin-bottom: .543em;
  font-size: 36px;
}
.masthead p.text-large {
  font-size: 24px;
  color: #666666;
}
.button-group {
  display: block;
  padding: 5px 0;
}
.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  -webkit-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-radius: 4px;
}
.button-primary {
  background: #3786e1;
  color: #fff;
  border: 1px solid #3786e1;
}
.button-primary:hover {
  text-decoration: none;
  color: #fff;
}
.button-green {
  background: #70aa6d;
  color: #fff;
  border: 1px solid #70aa6d;
}
.button-green:hover {
  text-decoration: none;
  color: #fff;
}
.button-ghost-primary {
  background: transparent;
  color: #3786e1;
  border: 1px solid #3786e1;
}
.button-ghost-primary:hover {
  color: #3786e1;
  text-decoration: none;
}
.button-ghost-green {
  background: transparent;
  color: #70aa6d;
  border: 1px solid #70aa6d;
}
.button-ghost-green:hover {
  color: #70aa6d;
  text-decoration: none;
}
.image-rounded {
  border-radius: 6px;
}
.image-circle {
  border-radius: 50%;
}
.container {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  display: block;
}
.container > .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}
.container > .row > .col-1 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 8.33333%;
}
.container > .row > .col-2 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 16.66666%;
}
.container > .row > .col-3 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 24.99999%;
}
.container > .row > .col-4 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 33.33333%;
}
.container > .row > .col-5 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 41.66665%;
}
.container > .row > .col-6 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 49.99998%;
}
.container > .row > .col-7 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 58.33331%;
}
.container > .row > .col-8 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 66.66664%;
}
.container > .row > .col-9 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 74.99997%;
}
.container > .row > .col-10 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 83.33333%;
}
.container > .row > .col-11 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 91.66663%;
}
.container > .row > .col-12 {
  width: 99.99996%;
}
.clearfix {
  clear: both;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.box-margin {
  margin: 20px 15px;
}
.small-break {
  border-top: 1px solid #777;
  height: 1px;
  width: 150px;
  display: block;
  margin: 15px auto;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-large {
  font-size: 16px;
}
.bold {
  font-weight: 400;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.page-heading {
  border-bottom: 1px solid #a1a1a1;
}
h1.text-large {
  font-size: 45px;
}
